<!DOCTYPE html>
<html>
    <head>
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>And/Or &mdash; the simple object repository</title>
        {% endif %}
        <style>
body {
    font-family: sans;
}
header {
    border-bottom: black solid 0.24em;
    padding-bottom: 2em;
}
nav {
}
section {
    padding: 3em;
    margin: 2em;
}
div {
    padding-top: 1em;
    padding-bottom: 1em;
}
        </style>
    </head>
    <body>
        <header>And/Or</header>
        <nav>
            <a href="{{ url_for('index') }}">Home</a>
            {% if user.is_authenticated %}
            <a href="{{ url_for('people_new') }}">Add Person<a/>
            <a href="{{ url_for('people_list') }}">List People<a/>
            <a href="{{ url_for('people_search') }}">Search</a>
            <a href="{{ url_for('logout') }}">Logout</a>
            {% else %}
            <a href="{{ url_for('login') }}">Login</a>
            {% endif %}
        </nav>
        <section>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}

            {% block content %}{% endblock %}
        </section>
    </body>
</html>
